* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header button {
    height: 3em;
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
}

.container-flex {
    width: 70% !important;
}

.row {
    padding-left: 0 !;
    padding-right: 0 !important;
}

.status {
    height: 2.5em;
}

.content-table {
    overflow-y: hidden;
    overflow-x: auto;
}


@media (max-width:1200px) {
    .container-flex {
        width: 90% !important;
    }
}

@media (max-width: 992px) {
    .container-flex {
        width: 100% !important;
    }
}

.bg-orange {
    background-color: orange;
}

.content-table thead {
    position: sticky;
    top: 0;
}

